/* || GENERAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300;400;500&display=swap');

body {
    background: linear-gradient(to bottom right, #024, #402);
    padding: 10px;
    font-weight: 400;
}

.pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0;   
}

.project-list__item {
    padding: 10px;
    margin: 20px;
    text-align: center;
  }