/* || GENERAL STYLES */

body {
    background: linear-gradient(to bottom right, #024, #402);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
    font-family:'Asap Condensed', sans-serif;
    font-weight: 400;
    font-size: x-large;
    letter-spacing: 1px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}

.pokemon-list {
    padding: 10px;
    margin: 20px;
}


button {
    display: block;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: transparent;
    border-width: 5px;
    border: solid  #ffa260;
    box-shadow: none;
    color: #fff;
    font-family: 'Asap Condensed', sans-serif;
    font-size: x-large;
    align-items: center;
    }

button:hover {
    background-color: #ffa260;
    color:#024;
}